<h1>Listing stalkings</h1>

<% @stalkings.each_with_index do |stalking, i| %>
  <% if i%3 == 0 %>
  <div class="row-fluid stalkings">
  <% end %>
    <div class="span4">
      <% gh = stalking.gh %>
      <% if gh.class.to_s != 'String' %>
        <%= image_tag(gh.owner.avatar_url, :alt => gh.owner.login) %>
        <% owner = gh.full_name.split('/') %>
        <h2>
          <span class="repo-owner"><%= gh.owner.login %></span><br>
          <span class="repo-name"><%= gh.name %></span>
        </h2>
        <p>Last update: <%= l gh.updated_at.to_date, format: :long %></p>
        <%= link_to 'Stalk', stalking, :class => 'btn btn-primary'  %>
        <br>
      <% else %>
        <p><%= gh %><br><span class="label label-important">This repository doesn't exist</span></p>
      <% end %>
      <%= link_to(stalking_path(stalking), :confirm => 'Are you sure you want to delete this Stalking?', :method => :delete, :rel => 'nofollow') do %>
        <i class="icon-remove"></i>
      <% end %>
    </div>
  <% if (i != 0 and i%3 == 2) or i == (@stalkings.size - 1) %>
  </div>
  <% end %>
<% end %>

<p>
  <a href="<%= new_stalking_path %>"><button class="btn btn-success">New Stalking</button></a>
</p>