<!DOCTYPE html>
<html>
<head>
  <title>Stalkhub</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap",   :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <% if current_user %>
      <li><%= link_to 'Hey, ' + current_user.login, '' %></a></li>
      <li><%= link_to 'Logout', logout_path %></a></li>
      <% end %>
    </ul>
    <h3 class="muted"><%= link_to 'Stalkhub', root_path %></h3>
  </div>

  <hr>

  <% if !flash.empty? %>
    <% flash.each do |name, msg| %> <!-- key == {:info|:notice, :success, :warning|:alert, :error} -->
      <%= content_tag :div, :class => "alert alert-#{name}" do %> <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>
      <% end %>
    <% end %>
  <% end %>

  <div class="jumbotron">
    <h1>Stalk now!</h1>

    <%= yield %>
  </div>

  <div class="footer">
    <p><a href="https://twitter.com/rhannequin">Beerware License</a></p>
  </div>

</div> <!-- /container -->

<!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!-- Commit template -->
<script type="x/template" id="commit-template">
  <div class="row-fluid">
    <div class="span3">{{ safe author }}</div>
    <div class="span6">{{{ safe message }}}</div>
    <div class="span3">{{ date }} {{ time }}</div>
  </div>
  <hr>
</script>

<script data-params='<%= { :user => current_user }.to_json.html_safe %>' data-main="/assets/main.js" src="/assets/require.js" id="require-js"></script>

</body>
</html>
